#board {
    display: flex;
    justify-content: center;
    border-radius: 2px;
}

.cell {
    background-color: #323036;
    width: 22px!important;
    height: 22px!important;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.cellrow {
    background-color: #323036;
    border-radius: 3px;
}

.cell:hover {
    background-color: #756f80;
}

.flag {
    background-color: #9c97a5;
}

.none {
    background-color: darkgray!important;
    cursor: default;
}

.lose {
    background-color: dimgray!important;
    cursor: default;
}

.low {
    background-color: lawngreen!important;
    cursor: default;
}

.mid {
    background-color: sandybrown!important;
    cursor: default;
}

.high {
    background-color: indianred!important;
    cursor: default;
}

.extreme {
    background-color: darkred!important;
    cursor: default;
}

.flag:hover {
    background-color: #cec8d8;
}