html,
body {
    display: flex;
    justify-content: center;
}

#board {
    display: flex;
    justify-content: center;
    border-radius: 2px;
}

.background {
    background-color: white;
    border: solid 5px rgba(185, 185, 185, 0.8);
    border-radius: 1.1rem;
    margin-top: 50px;
    overflow: hidden;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.cell {
    background-color: #323036;
    width: 22px!important;
    height: 22px!important;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.cellrow {
    background-color: #323036;
    border-radius: 3px;
}

.cell:hover {
    background-color: #756f80;
}

.extreme {
    background-color: darkred!important;
    cursor: default;
}

.flag {
    background-color: #9c97a5;
}

.flag:hover {
    background-color: #cec8d8;
}

.high {
    background-color: indianred!important;
    cursor: default;
}

.lose {
    background-color: dimgray!important;
    cursor: default;
}

.low {
    background-color: lawngreen!important;
    cursor: default;
}

.mid {
    background-color: sandybrown!important;
    cursor: default;
}

.none {
    background-color: darkgray!important;
    cursor: default;
}

.row {
    height: 30px;
    display: flex;
}