html,
body {
    display: flex;
    justify-content: center;
}

.background {
    background-color: white;
    border: solid 5px rgba(185, 185, 185, 0.8);
    border-radius: 1.1rem;
    margin-top: 50px;
    overflow: hidden;
}

.title {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container .node {
    background-color: green;
    width: 28px;
    height: 28px;
    border: 1px solid black;
}

.row {
    height: 30px;
    display: flex;
}

.myform {
    margin-top: 30px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: solid 5px rgba(185, 185, 185, 0.8);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
}